body {
    padding: 16px;
}

.lists {
    display: flex;
    justify-content: space-between;
}

.col-small {
    width: 25%;
    padding: 16px
}
.col-big {
    width: 50%;
    padding: 16px
}

img {
    width: 100%;
    height: auto;
} 